.grid-3x2 {
	width: 1111px;
	height: 500px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-row-gap: 30px;
}

.d-flex__row{
	margin-left: 80px;
	display: flex;
	flex-direction: column;
}

.d-flex__row span{
	line-height: 30px
}

.information__container{
	margin-left: 6px;
	padding:85px 50px;
	background-color: #fff;
}
a.btn_edit{
	margin-bottom: 15px;
	margin-left: 60px;
    background-color: #1a9cb7;
    width: 288px;
    height: 48px;
	}
.btn_edit a{
	color:white;
}
.btn11 .btn_edit_pass{
	margin-left: 60px;
    background-color: #1a9cb7;
    width: 288px;
    height: 48px;
}
.btn_edit_pass a{
	color: white;
}
.btn11{
	display: flex;
    flex-wrap: wrap;
}

.btn11 span{
	text-transform: uppercase;
	position: absolute;
    margin-left: 90px;
    margin-top: 10px;
    color: white;
}
.container{
	position: relative;
	height: 541px;
	display: block;
}
.wrapper__box_pass{
   margin-left: 15%;
    position: absolute;
    display: block;
    height: auto;

    margin-top: 20px;


}
.wrapper__box{

    position: absolute;
    display: block;
    height: auto;

  
}
.fix_information{
	opacity: 0;
	visibility: hidden;
}
.fix_information.show{
	opacity: 1;
	visibility: visible;
}
.information.hide{
	opacity: 0;
	visibility: hidden;
}
.information__container span{font-family: 'Font Awesome 5 Pro';}
.btn11 input.btn11_save{
	    border: 1px solid;
    color: white;
    background-color: #1a9cb7;
    width: 288px;
    height: 48px;
    margin-left: 78px;
    margin-top: -60px;
    position: absolute;
}
a.back{
	top: 396px;
    left: 10%;
    border: 1px solid;
    background-color: #1a9cb7;
    position: absolute;
    width: 288px;
    height: 48px;
    color: white;
}
a.btn_edit_pass input.dddd{
text-align: center;
    text-transform: uppercase;
    border: 1px solid;
    background-color: #1a9cb7;
    height: 48px;
    width: 288px;
    color: white;   

    }
