.grid-3x2 {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-row-gap: 30px;
}

.d-flex__row{
	display: flex;
	flex-direction: column;
}

.d-flex__row span{
	line-height: 30px
}

.information__container{
	padding:30px 40px;
	background-color: #fff;
}